@font-face {
    font-family: 'Indie Flower';
    src: url('fonts/IndieFlower.ttf');
}

html {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(images/angel-1891440_640.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 10px;
}

.restaurant {
    border-radius: 8px;
    border: 1px solid black;
    border-width: 0px 0px 1px 1px;
    padding: 10px;
    margin: 4px;
    width: 31%;

    -webkit-box-shadow: -2px 5px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.2);

    /* do not break blocks */
    -webkit-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.menu {
    list-style: none;
    padding: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(2n) {
    background-color: #EAEAEA;
}

tr:last-child td {
    border: 0px;
    border-radius: 0px 0px 5px 5px;
}

.tab {
    padding: 10px;
    border-bottom: #CCC solid 1px;
}

.food-name {
    padding-right: 10px;
}

.food-price {
    color: #7C7C7C;
    padding: 10px;
    padding-left: 0px;
    text-align: right;
    min-width: 15%;
}

.unreachable {
    margin-right: 5px;
}

.unreachable:not(:last-child)::after {
    content: '-';
}

h1 {
    font-family: 'Indie Flower', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 150%;
    margin-top: 4px;
    margin-bottom: 8px;
}

a:link {
    color: #009CAC;
    text-decoration: none;
}

a:visited {
    color: #009CAC;
    text-decoration: none;
}

/* github corner https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 1024px) {
    .restaurant {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

