@font-face {
    font-family: 'Indie Flower';
    src: url('fonts/IndieFlower.ttf');
}

html {
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url(images/angel-1891440_640.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#row {
    column-count: 2;
}
#restaurant {
    border-radius: 8px;
    border-style: groove;
    padding: 10px;
    margin: 4px;

    /* do not break blocks */
    -webkit-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.tab {
    margin: 4px;
    margin-left: 20px;
}

h1 {
    font-family: 'Indie Flower', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 150%;
    margin-top: 4px;
    margin-bottom: 8px;
}

a:link {
    color: #009CAC;
    text-decoration: none;
}

a:visited {
    color: #009CAC;
    text-decoration: none;
}

/* github corner https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
