<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}?v=1.3">
    <title>Restaurants on Anděl in Prague</title>
  </head>
  <body>
    <h1>Lunch for heroes</h1>
    <div id="row">
    {% for pub, items in restaurants.items() %}
    <div id="restaurant">
    <h3><a href="{{ items['link'] }}">{{ pub }}</a></h3>
	<ul>
		{% for food in items['menu'] %}
		<li class="tab">{{ food[0] }}<i> - {{ food[1] }}</i></li>
	        {% endfor %}
	</ul>
    </div>
    {% endfor %}
    </div>
  </body>
</html>
